body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-size: 35px;
    font-family: Montserrat, Verdana;
    color: black;
}

h2 {
    font-size: 25px;
    font-family: Montserrat, Verdana;
    color: black;
    margin: 2px;
}

@media(min-width: 900px) {
    .container {
        display: grid;
        align-content: center;
        width: 100%;
        margin: 0px;
        grid-template-rows: 150px auto 100vh;
        grid-template-columns: 15% 50% 20% 15%;
        grid-template-areas: "left banner banner right" "left blog sidebar right" "left footer footer right";
    }
}

@media(max-width: 900px) {
    .container {
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 50% 20%;
        grid-template-rows: 150px auto 100vh;
        grid-template-areas: "banner banner" "content sidebar" "footer footer";
        border: 2px solid black;
    }
}

#content {
    display: grid;
    grid-area: middle;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-template-rows: 100% 100% 100%;
    grid-template-columns: 70% 30%;
    grid-template-areas: "banner banner" "blog sidebar" "footer footer"
}

#contentbox {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    width: auto;
    height auto;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-family: Nanum Gothic, Verdana;
}

#blogbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-family: Nanum Gothic, Verdana;
}

#blogbox:hover {
    background-color: #E0E0EB;
}

#left {
    margin: 0px;
    grid-area: left;
    background-color: #F0F0F0;
}

#right {
    margin: 0px;
    grid-area: right;
    background-color: #F0F0F0;
}

#banner {
    grid-area: banner;
    align-items: center;
    vertical-align: center;
    justify-content: left;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E0E0EB;
    padding: 25px;
    margin: 5px;
}

#footer {
    display: flex;
    vertical-align: baseline;
    align-items: center;
    justify-content: left;
    width: auto;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    font-family: Nanum Gothic, Verdana;
    grid-area: footer;
}

#blog {
    grid-area: blog;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#sidebar {
    grid-area: sidebar;
}

#imagecontainer {
    display: grid;
    grid-area: sidebar;
    width: 90%;
    height: 400px;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "superman batman" "wonderwoman greenlantern"
}

#superman {
    grid-area: superman;
    background-image: url('https://d1w8cc2yygc27j.cloudfront.net/-2077776892287705761/-2092878173678620929.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#batman {
    grid-area: batman;
    background-image: url('https://images.fineartamerica.com/images-medium-5/dark-knight-rises-cracked-glass-logo-transparent.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#wonderwoman {
    grid-area: wonderwoman;
    background-image: url('https://cdn.shopify.com/s/files/1/0190/3868/products/PEWTER_LAPEL_PIN-_WONDER_WOMAN_MOVIE_WONDER_WOMAN_LOGO_MONOGRAM_PRODUCTS_1024x1024.jpg?v=1514749915');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#greenlantern {
    grid-area: greenlantern;
    background-image: url('https://cdn10.bigcommerce.com/s-yhxhf/products/6009/images/11133/15C040__90887.1430169129.600.600.png?c=2');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

body {
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-size: 35px;
    font-family: Montserrat, Verdana;
    color: black;
}

h2 {
    font-size: 25px;
    font-family: Montserrat, Verdana;
    color: black;
    margin: 2px;
}

@media(min-width: 900px) {
    .container {
        display: grid;
        align-content: center;
        width: 100%;
        margin: 0px;
        grid-template-rows: 150px auto 100vh;
        grid-template-columns: 15% 50% 20% 15%;
        grid-template-areas: "left banner banner right" "left blog sidebar right" "left footer footer right";
    }
}

@media(max-width: 900px) {
    .container {
        display: grid;
        width: 100%;
        margin: auto;
        grid-template-columns: 50% 20%;
        grid-template-rows: 150px auto 100vh;
        grid-template-areas: "banner banner" "content sidebar" "footer footer";
        border: 2px solid black;
    }
}

#content {
    display: grid;
    grid-area: middle;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-template-rows: 100% 100% 100%;
    grid-template-columns: 70% 30%;
    grid-template-areas: "banner banner" "blog sidebar" "footer footer"
}

#contentbox {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    width: auto;
    height auto;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-family: Nanum Gothic, Verdana;
}

#blogbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-family: Nanum Gothic, Verdana;
}

#blogbox:hover {
    background-color: #E0E0EB;
}

#left {
    margin: 0px;
    grid-area: left;
    background-color: #F0F0F0;
}

#right {
    margin: 0px;
    grid-area: right;
    background-color: #F0F0F0;
}

#banner {
    grid-area: banner;
    align-items: center;
    vertical-align: center;
    justify-content: left;
    width: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #E0E0EB;
    padding: 25px;
    margin: 5px;
}

#footer {
    display: flex;
    vertical-align: baseline;
    align-items: center;
    justify-content: left;
    width: auto;
    height: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    font-size: 10px;
    font-family: Nanum Gothic, Verdana;
    grid-area: footer;
}

#blog {
    grid-area: blog;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#sidebar {
    grid-area: sidebar;
}

#imagecontainer {
    display: grid;
    grid-area: sidebar;
    width: 90%;
    height: 400px;
    grid-gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "superman batman" "wonderwoman greenlantern"
}

#superman {
    grid-area: superman;
    background-image: url('https://d1w8cc2yygc27j.cloudfront.net/-2077776892287705761/-2092878173678620929.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#batman {
    grid-area: batman;
    background-image: url('https://images.fineartamerica.com/images-medium-5/dark-knight-rises-cracked-glass-logo-transparent.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#wonderwoman {
    grid-area: wonderwoman;
    background-image: url('https://cdn.shopify.com/s/files/1/0190/3868/products/PEWTER_LAPEL_PIN-_WONDER_WOMAN_MOVIE_WONDER_WOMAN_LOGO_MONOGRAM_PRODUCTS_1024x1024.jpg?v=1514749915');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#greenlantern {
    grid-area: greenlantern;
    background-image: url('https://cdn10.bigcommerce.com/s-yhxhf/products/6009/images/11133/15C040__90887.1430169129.600.600.png?c=2');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}